:root {
    --black: #0b0f16;
    --black-light: #1d2634;
}

body {
    background-color: var(--black-light);
    color: white;
}

.contain-game {
    position: relative;
}

/* HEADER */
header {
    background: #1d2634;
    box-shadow: inset 6px 6px 12px #171e29,
        inset -6px -6px 12px #232e3f;
}


/* TESTO PLAYs */
.game-cm {
    text-align: center;
    padding: 1rem 4rem;
    align-items: center;
    gap: 4rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.1rem;
}

/* GRIGLIA - conterrà i box */
.grid {
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    margin: 0 auto;
    color: white;
}

.box {
    width: calc((100%/10) - 1px);
    height: calc((100%/10) - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    /* border: 2px solid rgb(222, 75, 49); */
    position: relative;
    margin-right: 0.3px;
    margin-bottom: 0.3px;
    border-radius: 1.2rem;
    background: #1d2634;
    box-shadow: inset 5px 5px 6px #0c0f15,
        inset -5px -5px 6px #2e3d53;
}

.box-2 {
    width: calc((100%/9) - 1px);
    height: calc((100%/9) - 1px);
    /* border: 2px solid rgb(222, 176, 49); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 1.2rem;
    margin: 0px 0.3px 0.3px 0px;
    box-shadow: inset 5px 5px 6px #0c0f15,
        inset -5px -5px 6px #2e3d53;
}

.box-3 {
    width: calc((100%/7) - 1px);
    height: calc((100%/7) - 1px);
    /* border: 2px solid rgb(218, 80, 42); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 1.2rem;
    margin: 0px 0.3px 0.3px 0px;
    box-shadow: inset 5px 5px 6px #0c0f15,
        inset -5px -5px 6px #2e3d53;

}

/* SELECT */

select {
    height: 80px;
    border: none;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    background: #1d2634;
    box-shadow: inset 5px 5px 6px #0c0f15,
        inset -5px -5px 6px #2e3d53;
    color: white;
    padding: 0rem 2rem;
    /* appearance: none; */
}

.point-container {
    width: 80px;
    height: 80px;
    background-color: rgb(62, 157, 191);
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px;
    border-radius: 1.2rem;
    background: #1d2634;
    box-shadow: inset 5px 5px 6px #0c0f15,
        inset -5px -5px 6px #2e3d53;
}


/* Button */
.submit-button {
    width: 80px;
    height: 80px;
    background-color: rgb(62, 157, 191);
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px;
    border-radius: 1.2rem;
    background: #1d2634;
    box-shadow: inset 5px 5px 6px #0c0f15,
        inset -5px -5px 6px #2e3d53;
}

.submit-button:hover {
    /* background-color: rgb(80, 186, 225); */
    background-color: rgb(166, 216, 235);
    color: white;
    outline: 2px dotted rgb(62, 157, 191);
    outline-offset: 2px;

}

.box:hover {
    background: linear-gradient(145deg, #1a222f, #1f2938);
    box-shadow: 5px 5px 10px #11161f,
        -5px -5px 10px #293649;
}

/* FOOTER */
footer {
    background: #1d2634;
    box-shadow: inset 6px 6px 12px #171e29,
        inset -6px -6px 12px #232e3f;
}

/* NEW CLASS for JS */
.cell-bg {
    background-color: rgb(166, 216, 235);
}

.cell-warning {
    background-color: rgb(224, 29, 29);
    pointer-events: none;
}

.no-more-click {
    pointer-events: none;
}

/* GAME OVER MESSAGE */
.game-over-message {
    position: absolute;
    left: 35%;
    top: 150px;
    padding: 2rem;
    background: linear-gradient(145deg, #1a222f, #1f2938);
    box-shadow: 5px 5px 10px #11161f,
        -5px -5px 10px #293649;
    z-index: 2;
    border-radius: 1rem;
}

.play-again-btn {
    color: rgb(166, 216, 235);
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(145deg, #1a222f, #1f2938);
    box-shadow: 5px 5px 10px #11161f,
        -5px -5px 10px #293649;
    outline: 2px solid rgb(166, 216, 235);
    outline-offset: -3px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 932px) {

    .grid {
        width: 600px;
        height: 600px;
    }

    .game-cm {
        gap: 2rem;
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {

    .grid {
        width: 400px;
        height: 400px;
    }

    .grid>div {
        font-size: 1rem;
    }

    select,
    .submit-button,
    .point-container {
        height: 40px;
        padding: 0rem 0.3rem 0rem 0.3rem;

    }

    select,
    h1,
    .submit-button {
        font-size: 1rem;
    }

    .game-cm {
        gap: 0.5rem;
    }

}

/* XS */
@media screen and (max-width: 400px) {


    .grid {
        width: 300px;
        height: 300px;
    }

    .game-cm>div {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }

    select {
        padding: 0rem 0.3rem 0rem 0.3rem;
    }

    h1 {
        font-size: 1.5rem;
    }



}